@import '../common/var.scss';
// 根据 header 设置 article
@mixin article {
  background-color: #f7f8fa;
  min-height: 960px;
  padding-top: 50px;
}

@mixin Bgc {
  html,
  body {
    background-color: #f7f8fa;
  }
}

//导航栏 "/" 间距
@mixin ivu-breadcrumb-item-separator {
  .ivu-breadcrumb-item-separator {
    margin: 0;
  }
}

@mixin box {
  display: block;
  max-width: $maxWidth;
  margin: auto;
  width: 100%;
}
