@import 'mixins/layout.scss';

@mixin read {
  article {
    @include article();
  }
  .r-read-itemInfo {
    @include box();
    margin-top: 10px;
    background-color: #fff;
    min-height: 60px;
    padding: 20px;
    h1{
      color: rgb(90, 90, 90);
    }
  }
  .r-read-itemMajor {
    @include box();
    padding: 20px;
    min-height: 900px;
    background-color: #fff;
    .r-read-majorTxt {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 575px) {
  @include read();
}

@media screen and (max-width: 575px) {
  @include read();
}

