@import 'mixins/layout.scss';

@mixin read {
  article {
    @include article();
  }
  .r-read-itemInfo {
    @include box();
    margin-top: 10px;
    padding: 20px 0px;
    background-color: #fff;
    text-align: center;
    h1 {
      font-size: 20px;
      margin: 5px 0;
    }
    p {
      padding: 10px 0;
      span {
        @content;
        margin: 0px 10px;
      }
    }
  }
  .r-read-itemMajor {
    @include box();
    padding: 20px;
    min-height: 900px;
    background-color: #fff;
    .r-read-majorTxt {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 575px) {
  @include read();
}

@media screen and (max-width: 575px) {
  @include read() {
    display: block;
    padding: 3px 0;
  }
  ;
}

